@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --purple:#7507cf;
    --yellow:#f7d201;
    --pink:#ff0156;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .1s linear;
}
*::selection {
    background: var(--purple);
    color: #fff;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: #f3e777;
}
html::-webkit-scrollbar-thumb{
  background: var(--purple);
}
body {
    background: #f7f7f7;
}
section {
    min-height: 100vh;
    padding: 2rem 9%;
}
.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #111;
}
.heading span {
    color: #44007c;
}

header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 3rem 20rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s linear;
}
.sticky {
    background: #fff;
    padding: 2rem 20rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05); 
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
}
.sticky .logo {
    color: #111;
}
header .logo i {
    color: var(--pink);
}
header .navbar {
    display: flex;
}
header .navbar li {
    list-style: none;
    margin-left: 2.5rem;
}
header .navbar li a {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
header .navbar li a::before {
    content: ' ';
    position: absolute;
    background: var(--yellow);
    width: 0;
    height: 2px;
    top: 22px;
    bottom: 0; left: 0;
    border-radius: 4px;
    transition: .3s ease;
}

header.sticky .navbar li a {
    color: #111;
    font-weight: 600;
}
header .navbar li a.active,
header .navbar li a.active::before,
header .navbar li a:hover, 
header .navbar li a:hover::before {
    color: var(--pink);
    width: 100%;
}
#menu-bar {
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--yellow);
    padding: .5rem 1rem;
    display: none;
}

/* header media queries starts */
@media(max-width:768px) {
    header {
        padding: 2rem 3rem;
    }
    .sticky {
        padding: 1.5rem 3rem;
    }
    .sticky #menu-bar {
        color: #000;
    }
    header.sticky .navbar li a {
        color: #fff;
    }
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 7.5rem; right: -120%;
        background: #0e0049;
        padding: 1.5rem;
        width: 70%;
        height: 100%;
        transition: all .2s linear;
    }
    header .navbar.active {
        right: 0;
    }
    header .navbar li {
        margin-left: .5rem;
    }
    header .navbar li a {
        font-size: 2rem;
        margin: 1.8rem 1rem 0 .5rem;
        padding: .8rem;
        display: flex;
        align-items: center;
        border-radius: .5rem;
        border-bottom: .4rem solid var(--yellow);
        /* background: #fff; */
        font-weight: 600;
        color: #fff;
    }
    header .navbar li a::before {
        display: none;
    }
    header .navbar li a.active,
    header .navbar li a.active::before,
    header .navbar li a:hover, 
    header .navbar li a:hover::before {
        color: var(--pink);
        width: auto;
    }
}
/* header media queries ends */

.home {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("./images/bg/bg1.png");
    background-size: cover;
    background-attachment: fixed;
}
.home .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    row-gap: 3rem;
    padding: 1rem;
    margin: 6rem;
    z-index: 2;
}
.home .content h2 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
.home .content p {
    font-size: 2rem;
    color: #fff;
}
.home .content .btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}
.home .content .btn-container .btn {
    padding: 1rem 3rem;
    background: #fff;
    color: rgb(80, 2, 133);
    border-radius: .3em;
    font-size: 2em;
    font-weight: 700;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transition: .2s linear;
}
.home .content .btn-container .btn:hover,
.home .content .btn-container .btn.btn2:hover {
    background: #ffae00;
}
.home .content .btn-container .btn.btn2 { 
    background: var(--yellow);
}

/* change background */
.home .controls {
    position: relative;
    top:30rem; right: 70rem;
}
.home .controls .img-btn {
    height:1.2rem;
    width:1.2rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    opacity: .6;
    cursor: pointer;
    margin:0 .5rem;
}
.home .controls .img-btn.active {
    background:var(--yellow);
    opacity: 1;
}

/* hero media queries starts */
@media(max-width:768px) {
    .home .content {
        width: 100%;
        padding: .5rem;
        margin: 6rem 0;
    }
    .home .controls {
        display: none;
    }
}
/* hero media queries ends */

/* about section starts */
.about {
    background: #f5faff;
}
.about .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
.about .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about .wrapper .content {
    flex: 3 1 20rem;
}
.about .wrapper .image {
    flex: 1 1 10rem;
}
.about .wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about .wrapper .content h3 {
    font-size: 2rem;
    font-weight: 600;
}
.about .wrapper .image img {
    width: 100%;
    height: 100%;
}

.about .container .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .container .box-container .box {
    text-align: center;
    padding: 2.5rem;
    border-radius: .5rem;
    flex: 1 1 20rem;
    background: rgba(255, 255, 255, .6);
    margin-top: 1rem;
}
.about .container .box-container .box:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}
.about .container .box-container .box .icon { 
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: var(--purple);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
}
.about .container .box-container .box h3 {
    margin: 1rem;
    font-size: 2rem;
}
.about .container .box-container .box p {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
}
.about .container .box-container .box .btn {
    position: relative;
    padding: 1rem 2.5rem;
    background: var(--yellow);
    color: var(--purple);
    border-radius: .3em;
    font-size: 1.7em;
    font-weight: 700;
    transition: .2s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.about .container .box-container .box .btn:hover {
    background: var(--purple);
    color: var(--yellow);
}
/* about media queries starts */
@media(max-width:450px) {
    .about .container {
        width: 100%;
    }
    .about .wrapper {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .about .wrapper .content {
        padding-top: 0;
    }
    .about .wrapper .image {
        flex: 1 1 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .wrapper .image img {
        width: 80%;
    }
}
/* about media queries ends */
/* about section ends */

/* projects section starts */
.projects {
    padding: 1rem 3%;
    background: rgb(232, 255, 227);
}
.projects .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 100%;
    margin: auto;
}
.projects .box-container .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 20rem;
    background: rgb(255, 255, 255);
    margin-top: 3rem;
    border-radius: .5rem;
    border-bottom: 3px solid #fd7e14;
    transition: .2s ease-out;
}
.projects .box-container .box:hover {
    transform: scale(1.03);
    background: #fd7e14;
}
.projects .box-container .box:hover .desc *{
    color: #fff;
}
.projects .box-container .box .image {
    width: 100%;
    height: 26rem;
}
.projects .box-container .box img {
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem 0 0;
}
.projects .box-container .box .desc {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex-wrap: wrap;
    text-align: left;
    padding: 1rem 1.5rem 2.5rem 1.5rem;
}
.projects .box-container .box .desc h3 {
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: uppercase;
}
.projects .box-container .box .desc p {
    font-size: 1.5rem;
    color: #333;
}
.projects .box-container .box .desc .btn {
    padding: 1rem 2rem;
    background: var(--purple);
    color: rgb(255, 255, 255);
    border-radius: .3em;
    font-size: 1.7em;
    width: 70%;
    font-weight: 500;
    transition: .2s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.projects .box-container .box .desc .btn:hover {
    background: #3e026e;
}
/* projects media queries starts */
@media (max-width:768px) {
    .projects .box-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
}
@media(max-width:450px) {
    .projects .box-container {
        grid-template-columns: repeat(1, 1fr);
        gap: .5rem;
        width: 90%;
    }
    .projects .box-container .box .desc .btn {
        width: 60%;
    }
}
/* projects media queries ends */
/* projects section ends */


/* pricing section starts */
.pricing {
    background: rgb(248, 248, 248);
}
.pricing .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    width: 90%;
    margin: auto;
}
.pricing .box-container .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 20rem;
    background: rgb(255, 255, 255);
    margin-top: 3rem;
    border-radius: .5rem;
    border-bottom: 4px solid var(--purple);
    transition: all .2s ease-out;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
.pricing .box-container .box:hover {
    transform: scale(1.05);
    color: #fff;
    background: var(--purple);
}
.pricing .box-container .box:hover .title *,
.pricing .box-container .box:hover .title span::after,
.pricing .box-container .box:hover .desc ul * {
    color: #fff;
}
.pricing .box-container .box .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin: 1rem;
    gap: 1rem;
}
.pricing .box-container .box .title h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto';
}
.pricing .box-container .box .title span {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto';
}
.pricing .box-container .box .title span::before {
    content: "$";
    position: relative;
    top: -1.8rem;
    font-size: 2rem;
    font-weight: 700;
}
.pricing .box-container .box .title span::after {
    content: "/Month";
    position: relative;
    /* top: -1.8rem; */
    font-size: 2rem;
    font-weight: 700;
    color: #555;
}
.pricing .box-container .box .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0 2.5rem 1.5rem 2.5rem;
    color: #666;
}
.pricing .box-container .box .desc ul li { 
    list-style-type: none;
    border-bottom: .1em solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    font-size: 1.8rem;
    padding-bottom: .8rem;
    font-weight: 600;
    
}
.pricing .box-container .box .desc ul li span {
    color: #000;
    font-weight: 700;
}
.pricing .box-container .box .btn {
    position: relative;
    padding: 1rem 2.5rem;
    background: var(--yellow);
    color: var(--purple);
    border-radius: .3em;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.pricing .box-container .box .btn:hover {
    background: #ffc400;
}
/* pricing media queries starts */
@media(max-width:768px) {
    .pricing .box-container {
        width: 100%;
        gap: 1rem;
    }
}
@media(max-width:450px) {
    .pricing .box-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        width: 95%;
    }
}
/* pricing media queries ends */
/* pricing section ends */

/* video projects section ends */
.videopro {
    min-height: 75vh;
    padding: 2rem 9%;
    background: #f4e5fd;
}
.videopro .video-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 4rem;
}
.videopro .video {
    width: 100%;
    height: 32rem;
}
.videopro .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
div.swiper-button-prev,
div.swiper-button-next {
color: #140042;
}
span.swiper-pagination-bullet {
background-color: var(--purple);
}
@media(max-width:768px) {
    .videopro{
        min-height: 60vh;
        padding: 1rem 4%;
    }
    .videopro .video {
        width: 95%;
        height: 32rem;
    }
    .videopro .video-wrapper{
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 4rem 1rem;
    }
}
@media(max-width:450px) {
    .videopro{
        min-height: 50vh;
        padding: 1rem 4%;
    }
}
/* video projects section ends */

/* team section starts */
.team {
    background: #f5faff;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 80%;
    margin: auto;
}
.team .container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.team .container .card:hover {
    box-shadow: 0 4px 8px 0 rgba(136, 97, 97, 0.1);
    background: rgba(255, 255, 255, 0.5);
}
.team .container .card .image {
    position: relative;
    border-radius: 50%;
}
.team .container .card img {
    position: relative;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.team .container .card .image .social {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(160, 36, 243, 0.3);
    width: 100%;
    height: 98%;
    top: 0;
    border-radius: 50%;
    gap: 1.5rem;
    transition: .3s ease-out;
    transform: scale(0);
}
.team .container .card .image .social a {
    font-size: 2.2rem;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    color: var(--yellow);
    padding: .7rem;
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease;
}
.team .container .card .image .social a:hover {
    color: #fff;
}
.team .container .card .image:hover .social {
    transform: scale(1);
}
.team .container .card h3 {
    font-size: 2.2rem;
}
.team .container .card span {
    font-size: 1.7rem;
    color: rgb(68, 68, 68);
    font-weight: 600;
}
/* team media queries starts */
@media(max-width:768px) {
    .team {
        padding: 1rem;
    }
    .team .container{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
/* team media queries ends */
/* team section ends */


/* life in zippy starts */
.life {
    min-height: 50vh;
    padding: 2rem 9% 0 9%;
    background: rgb(255, 255, 230);
}
.life .container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.life .container img {
    position: relative;
    object-fit: cover;
    width: 60%;
    height: 40rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.life .container #img-gallery {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.life .container .prev-next {
    padding: 2.7rem 1.2rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    border-radius: .2rem;
    background-color: var(--purple);
    transition: .2s ease;
}
.life .container.prev-next:hover {
   background-color: var(--yellow);
}
.life .container #lifeimg-gallery {
    display: flex;
    width: 90%;
    overflow: auto;
    margin: 0 1rem;
    transition: all .2s;
}
.life .container .lifeimg {
    object-fit: cover;
    max-width: 10rem;
    max-height: 7rem;
    cursor: pointer;
    opacity: 0.7;
    margin: .5rem;
}
.life .container .lifeimg:hover {
	opacity:1;
    border: 2px solid #222;
}
.life .container .lifeimg.active {
    opacity: 1;
}
.life .container #lifeimg-gallery::-webkit-scrollbar {
	display: none;
}
@media screen and (max-width: 768px) {
    .life .container img {
        width: 100%;
        height: 35rem;
    }
    .life .container #img-gallery {
        width: 110%;
        margin-left: -2rem;
    }
}
/* life in zippy ends */

/* blog section starts */
.blog {
    background: #f5faff;
}
.blog .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 80%;
    margin: auto;
}
.blog .box-container .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 20rem;
    background: rgb(255, 255, 255);
    margin-top: 3rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.blog .box-container .box .image {
    overflow: hidden;
    height: 19rem;
    border-radius: .5rem .5rem 0 0;
}
.blog .box-container .box img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}
.blog .box-container .box .image:hover img {
    transform: scale(1.5) rotate(5deg);
}
.blog .box-container .box .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1.2rem 2rem 1.2rem;
}
.blog .box-container .box h3 {
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
}
.blog .box-container .box span {
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}
.blog .box-container .box p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
}
.blog .box-container .box .btn {
    position: relative;
    padding: 1rem 2.5rem;
    background: var(--yellow);
    color: var(--purple);
    border-radius: .3em;
    font-size: 1.7em;
    font-weight: 700;
    transition: .2s ease;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.blog .box-container .box .btn:hover {
    background: var(--purple);
    color: var(--yellow);
}
/* blog media queries starts */
@media(max-width:768px) {
    .blog .box-container {
        gap: 1rem;
        width: 100%;
    }
}
@media(max-width:450px) {
    .blog .box-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        width: 90%;
    }
}
/* blog media queries ends */
/* blog section ends */


/* contact section ends */
.contact {
    padding: 0;
    margin: 0;
    background: yellow;
    min-height: 80vh;
}
.contact .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact .row .col {
    width: 50%;
    background: #fff;
}
#map {
    height: 100%;
}
.contact form {
  width: 90%;
  padding: 2rem 4rem 4rem 4rem;
  margin-top: 2rem;
}
.contact form h2 {
    font-size: 3rem;
    margin-left: 1rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.form-group .field {
  height: 5rem;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 2rem;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  background: #e5ecfb;
  transition: .2s ease;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51,.7);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 22px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  min-width: 100%;
  padding: 12px 20px 0 48px;
  resize: none;
}
form button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  margin-left: 1rem;
  border-radius: .5rem;
  padding: 1.2rem 4rem;
  background: var(--purple);
  box-shadow: 0px 5px 10px rgba(160, 36, 243, 0.6);
  transition: 0.3s ease;
}
form button:hover {
  background: #4b0286;
}
/* contact media queries starts */
@media(max-width:768px) {
    .contact .row .col{
        width: 100%;
    }
    #map {
        height: 40rem;
    }
    .contact form{
        width: 100%;
        padding: 1rem 3rem 2rem 2rem;
    }
}
/* contact media queries ends */
/* contact section ends */


/* brand starts */
.brands {
    text-align: center;
    min-height: 60vh;
    padding: 4rem 9% 8rem 9%;
    background: rgb(255, 255, 255);
}
.brands .brand-slider {
    padding: 2rem 0;
}
.brands .brand-slider img {
    width: 185px;
    height: 100px;
}
@media screen and (max-width:450px) {
    .brands {
        min-height: 50vh;
    }
}
/* brand ends */


/* footer section starts */
.footer {
    position: relative;
    min-height: 60vh;
    padding-top: 1rem;
    /* background: #17002c; */
    background-image: linear-gradient(to top, #0f001e, #16042c, #1b073a, #230647, #2d0055);
}
/* newsletter starts */
.footer .newsletter {
    width: 60%;
    background-image: linear-gradient(to top, #6e05c4, #7b04c5, #8704c6, #9305c7, #9e07c8);
    height: 18rem;
    position: absolute;
    top: -10rem; right: 25rem;
    border-radius: 1rem;
}
.footer .newsletter .wrapper {
    position: relative;
    padding: 2.5rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .2rem;
}
.footer .newsletter .wrapper h2 {
    font-size: 3rem;
    color: #fff;
}
.footer .newsletter .wrapper p {
    font-size: 1.8rem;
    color: rgba(235, 235, 235, 0.952);
}
.footer .newsletter .wrapper .input-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.footer .newsletter .wrapper .input-container input {
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 60%;
    padding: 1rem;
    padding-left: 2rem;
}
.footer .newsletter .wrapper .input-container .btn {
    padding: 1rem 2rem;
    background: var(--yellow);
    color: var(--purple);
    border-radius: 3rem;
    font-size: 1.7em;
    font-weight: 700;
    transition: .2s ease;
}
.footer .newsletter .wrapper .input-container .btn:hover {
    background: #ffbb00;
}
/* newsletter media queries starts */
@media(max-width:768px) {
    .footer .newsletter {
        width: 90%;
        height: 23rem;
        position: relative;
        left: 2rem;
    }
    .footer .newsletter .wrapper {
        padding: 2rem 3rem;
    }
    .footer .newsletter .wrapper .input-container {
        width: 100%;
        gap: .5rem;
    }
}
/* newsletter media queries ends */
/* newsletter ends */

.footer .box-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}
.footer .box-container .box {
    flex: 1 1 10rem;
    margin: 1rem 2rem;
}
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 1.5rem;
    font-weight: normal;
}
.footer .box-container .box p {
    font-size: 1.7rem;
    color: #ccc;
    padding: 1rem 0;
    text-transform: none;
}
.footer .box-container .box p i {
    padding-right: 1rem;
    color: var(--yellow);
}
.footer .box-container .box a {
    font-size: 1.7rem;
    color: #ccc;
    padding: .7rem 0;
    display: flex;
}
.footer .box-container .box a:hover {
    color: var(--yellow);
}
.footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    border: .1rem solid #fff3;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .box-container .box .share a:hover {
    background: #fff;
    color: var(--pink);
}

.footer .credit {
    padding: 2rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid #fff3;
}
.footer .credit a {
    color: var(--yellow);
}
/* footer media queries starts */
@media(max-width:768px) {
    .footer .box-container{
        margin-top: -8rem;
    }
    .footer .box-container .box{
        flex: 1 1 20rem;
        margin: 1rem 3rem;
    }
}
/* footer media queries ends */
/* footer section ends */

/* scroll top starts */
#scroll-top {
   position: fixed;
   top: calc(100% - 12rem);
   right: 2rem;
   padding: 1rem 1.5rem;
   font-size: 2.5rem;
   background: #ffae00;
   color: rgb(13, 0, 44);
   border-radius: 50%;
   transition: .2s linear;
   z-index: 1000;
   transform: scale(0);
}
#scroll-top.active {
   transform: scale(1);
}
/* scroll top ends */


@media (max-width:1200px) {
    html{
      font-size: 58%;
    }
}

@media(max-width:450px) {
    html{
        font-size: 52%;
    }
}